#icon_page{
  width: 100%;
  height: auto;
  margin: 5% 10%;
}

#icon_page:after{
content:"";
clear:both;
display:block;
}

.pulldown_mark{
  font-size: 10px;
  vertical-align: middle;
}
/*
#icon_page ul:after{
content:"";
clear:both;
display:block;
}

#icon_page ul{
  width: 100%;
  height: 30px
}

#icon_page li{
  list-style: none;
  width: 30%;
  float:left;
  padding:3% 1.5%
}
*/
