#acMenu{
  width: 95%;
  margin: 0 auto 5% auto;
}
#acMenu dt{
  display: block;
  padding: 2% 2% 2% 1%;
  text-align: left;
  border: #eee 1px solid;
  cursor: pointer;
  color: #eee;
  background-color: black;
}
#acMenu dd{
  display: none;
  /*line-height: 1.8;*/
  border: #eee 1px solid;
  background-color: white;
}

.code{
  margin-top: 1%;
}

#math-add{
    text-align: center;
}