#acMenu{
  width: 95%;
  margin: 0 auto 5% auto;
}
#acMenu dt{
  display: block;
  padding: 1% 1% 1% 1%;
  text-align: left;
  border: #eee 1px solid;
  cursor: pointer;
  color: #eee;
  background-color: black;
}
#acMenu dt .dt-mark{
  float: right;
  font-size: 1.2em;
}
#acMenu dd{
  display: none;
  line-height: 1.8;
  border: #eee 1px solid;
  background-color: white;
}
video{
  width: 100%;
}
.open{
  transform: rotate(180deg);
  transition: 0.5s;
}
.close{
  transform: rotate(0deg);
  transition: 800ms ease-in-out;
}

figure{
  width: 40%;
  padding: 1%;
  display: inline-block;
  margin-bottom: 2%;
}
figcaption{
  font-size: 15px;
}
